@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 5px 5px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
